<!doctype html>
<html>
<head><title>Hi there!</title></head>

<body>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>this is not a name!</h1>
{% endif %}

<h2>Hello World Python!</h2>

<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul> 


<form>
  First name:<br>
  <input type="text" name=“enter firstname"><br>
  Last name:<br>
  <input type="text" name=“enter lastname"><br>
  Enter an email:<br>
  <Input type=“text” name=”enter email”><br>
  Password:<br>
  <Input type=“text” name=”enter password”><br>
</form>


<select>
  <option value=“apple”>Apple</option>
  <option value=“samsung”>Samsung</option>
  <option value=“huawei”>Huawei</option>
  <option value=“siemens”>Siemens</option>
</select>

</body>
</html>